psycopg2-binary
asgiref==3.2.3
attrs==19.3.0
beautifulsoup4==4.8.2
bs4==0.0.1
certifi==2020.6.20
chardet==3.0.4
cycler==0.10.0
dj-database-url==0.5.0
Django==3.0.1
django-crispy-forms==1.9.2
django-heroku==0.3.1
django-multiforloop==0.2.1
django-report-builder==6.3.2
djangorestframework==3.11.1
et-xmlfile==1.0.1
gunicorn==20.0.4
idna==2.8
jdcal==1.4.1
kiwisolver==1.1.0
lxml==4.4.2
matplotlib==3.3.1
numpy==1.18.0
openpyxl==3.0.5
pandas==0.25.3
Pillow==6.2.1
psycopg2==2.8.5
pyparsing==2.4.6
python-dateutil==2.8.1
pytz==2019.3
requests==2.22.0
six==1.13.0
soupsieve==1.9.5
sqlparse==0.3.0
tabulate==0.8.6
urllib3==1.25.7
whitenoise==5.0.1
